body
{
  font-family: Palatino;
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(83, 156, 221);
}

p{
  margin-top: 10px;
}
#topBar{
  width:100%;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(131, 168, 207);
}

#title
{
  text-align: center;
  font-family: Impact;
}

#intro
{
  margin-top: 10px;
  color: black;
  width: 100%;
  height: 20%;
  text-align: center;
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
}
.topButtons{
  width:1200px;
  position: fixed;
}
a{
  text-decoration: none;
}
.topButtons > div
{
  border:2px solid rgb(241, 241, 241);
  float: left;
  width: 14.9%;
  background-color: rgb(242, 203, 203);
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 8px;
  font-family: Times;
  text-align: center;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 5.9px;
}

.CPs
{
  margin-top: 10px;
  background-color: rgb(241, 241, 241);
  padding: 10px;
  text-align: justify;
  border-radius: 20px;
}

#B1:hover{
  color: black;
  background-color: rgb(173, 226, 132);
}
#B2:hover{
  color: black;
  background-color: rgb(173, 226, 132);
}
#B3:hover{
  color: black;
  background-color: rgb(173, 226, 132);
}
#B4:hover{
  color: black;
  background-color: rgb(173, 226, 132);
}
#B5:hover{
  color: black;
  background-color: rgb(173, 226, 132);
}

#CourseHeader{
  text-align: center;
}

#Logo{
  border-radius: 10px;
  margin-left: 41.25%;
}

#Logo2{
  border-radius: 10px;
  margin-left: 40.9%;
}

#Logo3{
  border-radius: 10px;
  margin-left: 36%;
}

#Logo4{
  border-radius: 10px;
  margin-left: 20%;
}

#Logo5{
  border-radius: 10px;
  margin-left: 39.8%;
  height: 200px;
  width: 200px;
}


.csbutt:hover{
  color: black;
  background-color: rgb(114, 210, 149);
}

.csbutt{
  border:2px solid rgb(241, 241, 241);
  width: 18%;
  color: black;
  background-color: rgb(173, 226, 132);
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 8px;
  font-family: Times;
  text-align: center;
  margin: auto;
}

#space{
  margin-top: 15px;
}
.subHeaders{
  font-size: 20px;
  font-family: Times;
  text-align: left;
}

.LC{
  font-style: italic;
}

.CITBL{
  text-align: left;
  padding-right: 10px;
  border-color: rgb(39, 60, 79)
}
