/* Styling and formatting for my golf website

    Author: John Witt
    Computer Science 500
    */
body
{
  font-family: Palatino;
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(117, 178, 233);
}

/* General formating for different tags */
p{
  margin-top: 10px;
}

/* No underlines for links */
a{
  text-decoration: none;
}

/* Creates space for top buttons */
#topBar{
  width:100%;
  height: 38px;
  border-radius: 10px;
  background-color: rgb(117, 178, 233);
}

/* Allows the top buttons to scroll with the page */
.topButtons
{
  position: fixed;
}

/* Styling for top buttons */
.topButtons > div
{
  width: 188px;
  border: 2px solid rgb(241, 241, 241);
  float: left;
  background-color: rgb(242, 203, 203);
  border-radius: 10px;
  font-size: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: Times;
  font-weight: bolder;
  text-align: center;
  margin: 4px;
}

/* Makes buttons change color when hovered over */
.TBHover:hover{
  color: black;
  background-color: rgb(173, 226, 132);
}

#title
{
  text-align: center;
  font-family: Palatino;
}

#intro
{
  margin-top: 14px;
  color: black;
  width: 100%;
  height: 20%;
  text-align: center;
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
}

/* Genral style for all course pages */
.CPs
{
  margin-top: 10px;
  background-color: rgb(241, 241, 241);
  padding: 10px;
  text-align: justify;
  border-radius: 20px;
}

#CourseHeader{
  text-align: center;
}

/* TCC, OS and MH logos can be formated together */
#Logo200{
  border-radius: 10px;
  margin-left: 390px;
  width: 200px;

}

/* KC and BGC logos are different shapes and are formatted individually */
#LogoKC{
  border-radius: 10px;
  margin-left: 375px;
  width: 230px;
}

#LogoBGC{
  border-radius: 10px;
  margin-left: 340px;
  width: 300px;
}

/* Formating "Directions" and "Course Website" buttons */
.csbutton:hover
{
  color: black;
  background-color: rgb(114, 210, 149);
}

.csbutton
{
  border:2px solid rgb(241, 241, 241);
  width: 18%;
  color: black;
  background-color: rgb(173, 226, 132);
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 8px;
  font-family: Times;
  text-align: center;
  margin: auto;
}

.subHeaders{
  font-size: 20px;
  font-family: Times;
  text-align: left;
}

/* space between "Pictures" subheader and the slides*/
#space
{
  margin-top: 15px;
}

/* Table formating and styling */
.CITBL
{
  text-align: left;
  padding-right: 10px;
  border-color: rgb(39, 60, 79)
}

/* Left Column */
.LC
{
  font-style: italic;
}
